/* #code{
    background-color: #f7d9d0;
    width: auto;
    min-height: 300px;
    border: solid 2px #d4b8b0;
    margin: auto;
}
*/
#lab4{
    background-color: #f7d9d0;
    width: auto;
    min-height: 300px;
    border: solid 2px #d4b8b0;
    margin: auto;
}
