h1{
    /*display: block;*/
    text-align: center;
    color: red;
    font-size: 200%;
    font-style: italic;
    font-family: Geneva, Verdana, cursive;
}

h1 {font-size: 40px;}
h2 {font-size: 25px;}

body {
    color: black;
    font-size: 100%;
    font-style: normal;
    font-family: Geneva, Verdana, sans-serif
}
/*
h3 {
    color: red;
    font-size: 200%;
    font-style: normal;
    font-family: "Comic Sans MS"
}

p {
    color: black;
    font-family: monospace;
    font-size: 120%;
}
*/
#headshot {
    width: 300px;
    height: auto;
    /*max-height: 200px;*/
}

#content {
    background-color: #f7d9d0;
    width: auto;
    min-height: 300px;
    padding: 10px;
    margin: auto;
    border: solid 2px #d4b8b0;
    font-size: 20px;
}

.lab-assignments {
    background-color: #f7d9d0;
    width: auto;
    min-height: 300px;
    padding: 10px;
    margin: auto;
    border: solid 2px #d4b8b0;
    font-size: 20px;
}

img {
    float: right;
    margin: 10px;
}
